@using Controle_de_Medicamentos.ConsoleApp.Model
@model CreateSupplierViewModel;
@{
	ViewBag.Title = "Cadastrar Fornecedor";
	ViewBag.Header = "Cadastrando Fornecedor";
}

<link href="~/simple-modules.css" rel="stylesheet" />
<link href="~/Form.css" rel="stylesheet" />

<main class="main-module">

    <form action="/fornecedores/cadastrar" method="post">
        <label for="name">Nome do Fornecedor:</label>
        <div class="input-wrapper">
            <i class="fas fa-user"></i>
            <input type="text" name="name" />
        </div>

        <label for="phone">Telefone do Fornecedor:</label>
        <div class="input-wrapper">
            <i class="fas fa-phone"></i>
            <input type="text" name="phone" />
        </div>

        <label for="cnpj">CNPJ do Fornecedor:</label>
        <div class="input-wrapper">
            <i class="fas fa-id-card"></i>
            <input type="text" name="cnpj" />
        </div>

        <div class="interaction-buttons">
            <a type="button" id="btnback" href="/fornecedores">Voltar</a>
            <button type="submit" id="btnConfirm">Salvar</button>
        </div>
    </form>
</main>