@using Controle_de_Medicamentos.ConsoleApp.Model
@model DeletePatientViewModel;
@{
	ViewBag.Title = "Excluir Paciente";
	ViewBag.Header = "Exclusão de Paciente";
}

<link href="~/simple-modules.css" rel="stylesheet" />
<link href="~/Notification.css" rel="stylesheet" />
<link href="~/Form.css" rel="stylesheet" />

<main class="main-module">
	<form action="/pacientes/excluir @Model.Id" method="post" class="card-delete">
		<div class="icon-wrapper">
			<div class="icon-warning">&#9888;</div>
		</div>
		<h2>Atenção!</h2>
		<p>Você está prestes a excluir "@Model.Name". Essa ação é permanente e não poderá ser desfeita.</p>
		<div class="interaction-buttons">
			<a type="button" id="btnback" href="/pacientes/visualizar">Voltar</a>
			<button type="submit" id="btnConfirm">Excluir</button>
		</div>
	</form>
</main>