@{
	ViewBag.Title = "Pacientes";
	ViewBag.Header = "Gerenciamento de Pacientes";
}

<link href="~/simple-modules.css" rel="stylesheet" />

<main class="main-module animate__animated animate__zoomInDown">
	<a href="/pacientes/cadastrar">
		<div class="card-module">
			<h1>Cadastrar</h1>
			<p>Cadastre novos pacientes</p>
			<i class="fas fa-plus fa-beat card-icon"></i>
		</div>
	</a>
	<a href="/pacientes/visualizar">
		<div class="card-module">
			<h1>Visualizar</h1>
			<p>Visualizar todos os pacientes</p>
			<i class="fas fa-eye fa-flip card-icon" style="--fa-animation-duration: 3s;"></i>
		</div>
	</a>
</main>
