.card-sucess-notification {
    width: 400px;
    padding: 20px;
    background-color: var(--background-2);
    border: 3px solid #2ecc71;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    margin: 50px auto;
    text-align: center;
    color: var(--text-color);
}

    .card-sucess-notification h2 {
        font-size: 20px;
        margin: 0;
        color: white;
    }

    .card-sucess-notification p {
        margin: 10px 0 20px;
        color: #dcdcdc;
    }

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.icon-check {
    color: #2ecc71;
    font-size: 45px;
    background-color: var(--background-2);
    border: 2px solid #2ecc71;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.icon-warning {
    color: #e74c3c;
    font-size: 60px;
    border: 2px solid #e74c3c;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    line-height: 1;
    align-items: baseline;
}

.btn-back {
    display: inline-block;
    background-color: #27ae60;
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}