.main-module {
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-module {
    animation: fadein 3s;
    border: 1px solid var(--border);
    border-radius: 15px;
    padding: 0 10px;
    width: 370px;
    height: 210px;
    background-color: var(--background-2);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

    .card-module:hover {
        transform: scale(1.15);
        background-color: var(--background-hover);
        border: 2px solid var(--primary-color);
    }

    .card-module h1, .card-module h2, .card-module h3 {
        word-wrap: break-word;
        text-align: center;
        color: var(--primary-color);
    }

    .card-module p {
        word-wrap: break-word;
        text-align: center;
        font-size: 18px;
        color: var(--text-color);
        margin: 15px 0px
    }

    .card-module .card-icon {
        text-align: center;
        width: 100%;
    }
