@{
	ViewBag.Title = "Página Inicial";
	ViewBag.Header = "Bem-Vindo à Gestão de Medicamentos!";
}

<link href="~/home.css" rel="stylesheet" />

<main class="main-home animate__animated animate__zoomInDown">

	<a href="/fornecedores">
		<div class="card-home">
			<h1>Fornecedores</h1>
			<p>Gerencie os fornecedores</p>
			<i class="fas fa-truck fa-beat-fade card-icon" style="--fa-beat-fade-opacity: 0.70; --fa-animation-duration: 1.5s;"></i>
		</div>
	</a>

	<a href="/funcionarios">
		<div class="card-home">
			<h1>Funcionários</h1>
			<p>Gerencie os funcionários</p>
			<i class="fas fa-users fa-beat-fade card-icon" style="--fa-beat-fade-opacity: 0.70; --fa-animation-duration: 1.5s;"></i>
		</div>
	</a>

	<a href="/pacientes">
		<div class="card-home">
			<h1>Pacientes</h1>
			<p>Gerencie os pacientes</p>
			<i class="fas fa-user-injured fa-beat-fade card-icon" style="--fa-beat-fade-opacity: 0.70; --fa-animation-duration: 1.5s;"></i>
		</div>
	</a>

	<a href="/medicamentos">
		<div class="card-home">
			<h1>Medicamentos</h1>
			<p>Gerencie os medicamentos</p>
			<i class="fas fa-pills fa-beat-fade card-icon" style="--fa-beat-fade-opacity: 0.70; --fa-animation-duration: 1.5s;"></i>
		</div>
	</a>

	<a href="/prescricao">
		<div class="card-home">
			<h1>Prescrição Médica</h1>
			<p>Gerencie as prescrições médicas</p>
			<i class="fas fa-notes-medical fa-beat-fade card-icon" style="--fa-beat-fade-opacity: 0.70; --fa-animation-duration: 1.5s;"></i>
		</div>
	</a>

	<a href="/requisicao">
		<div class="card-home">
			<h1>Requisições</h1>
			<p>Gerencie as requisições</p>
			<i class="fas fa-file-alt fa-beat-fade card-icon" style="--fa-beat-fade-opacity: 0.70; --fa-animation-duration: 1.5s;"></i>
		</div>
	</a>

</main>